.play-area {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 24px;
}

.reset {
    width: 90px;
    height: 25px;
}